.page-enter-active,.page-leave-active{
	transition: opacity 0.9s;
}
.page-enter,.page-leave-active{
	opacity: 0;
}
html{
	color:red
}
.main-home{
	color: red;
}

.test-enter-active,.test-leave-active{
	transition: opacity 0.9s;
	font-size: 12px;
}
.test-enter,.test-leave-active{
	opacity: 0;
	font-size: 20px;
}